{% extends 'base.html' %}

{%block title%}Players{%endblock title%} 


{% block body %}


    <div class="Himalayan Warriors Players My-10 " style ="position:absolute; left:80px; top:120px;">
       

        <!-- Three columns of text below the carousel -->
        <div My-7 class="row">
          <div class="col-lg-4">
            <img src="/static/img/amitdai.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
    
            <h2 class="fw-normal">C/Batsman - Amit Gywali</h2>
            <p> He is the captain of Himalayan Warriors, leading the team. He is a agressive batsman who have the capacity to score ton in every game. </p>
            <p><a class="btn btn-secondary" href="https://mycricket.cricket.com.au/common/pages/public/rv/cricket/viewplayer.aspx?locx=PLY&playerID=1883081&eID=31038&entityID=31038&seasonID=152">Statics</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/static/img/ujjawaldai.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
            <h2 class="fw-normal">VC/Batsman-Ujjawal Katwal</h2>
            <p>Ujjawal Katwal is the Vice-Captain of Himalayan Warriors. He is also the opening and middle-order batsman who can change the gears.</p>
            <p><a class="btn btn-secondary" href="https://mycricket.cricket.com.au/common/pages/public/rv/cricket/viewplayer.aspx?locx=PLY&playerID=2039147&eID=31038&entityID=31038&seasonID=152">Statics</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/static/img/anish.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
    
            <h2 class="fw-normal">Bowler - Anish Khatri</h2>
            <p>He is the oepning bowler of Himalayan Warriors. The line and length and bit of swing in the ball is the strongest weapon of his bolwling. 
            </p>
            <p><a class="btn btn-secondary" href="#">Statics</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div My-7 class="row">
            <div class="col-lg-4">
              <img src="/static/img/shivadai.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">All rounder - Shiva Bhattarai</h2>
              <p> Allrounder with top order batting and pace bowling atttack. </p>
              <p><a class="btn btn-secondary" href="https://mycricket.cricket.com.au/common/pages/public/rv/cricket/viewplayer.aspx?locx=PLY&playerID=1883081&eID=31038&entityID=31038&seasonID=152">Statics</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/static/img/manishdai.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
              <h2 class="fw-normal">Batsman - Manish Kafle</h2>
              <p>Manish Kafle is a top order batsman with attacking gameplay and wicket keeper of Himalayan Warriors.</p>
              <p><a class="btn btn-secondary" href="https://mycricket.cricket.com.au/common/pages/public/rv/cricket/viewplayer.aspx?locx=PLY&playerID=2039147&eID=31038&entityID=31038&seasonID=152">Statics</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/static/img/sarandai.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">All rounder - Saran Rasali </h2>
              <p>Saran Rasali is an attacking batsman with spin bowling allrounder.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Abhishek Parsad Joshi - Batsman </h2>
              <p>Abhishek Parsad Joshi is a attacking batsman who can change gears and have capacity to perform in any situation.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Umesh Badu- Batsman </h2>
              <p>Umesh Badu is a well managed batsman who have got class and adaptation to any situation. He is a busy player and keeps the score board running.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Puskar Poudel - Spin Bowler </h2>
              <p>Puskar Poudel(Vena) is a spin bowler who knows and tackle the critical situation and have wicket taking capicity in tense situation.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Suraj Sigdel - wk(batsman) </h2>
              <p>Suraj Sigdel (Sudeen Sigdel) is a wicketkepper batsman of himalayan warriors who play as a finisher.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>

            
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Anil Pandey - Bolwer</h2>
              <p>Anil Pandey is a attacking pace bowler who enjoys bowling lots of bouncer and take wicket with his pace attack.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Suman Bhetal - Batsman </h2>
              <p>Suman Bhetal is a batsman who can play the innings and finsih match for Himalayan Warriors. .  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Sujan Pandey - Bowler </h2>
              <p>Sujan Pnadey is a middle over bowler who has got various in his bowling and have wicket taking capacity. .  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Resham Adhikari - Batsman  </h2>
              <p>Resham Adhikari is a middle order batsman who can keep moving on the inning and smash big shots as a finisher.  .  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Bhuwan Dhakal - all rounder </h2>
              <p>Bhuwan Dhakal is a all-rounder who can bowl and smash big shots as finisher.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>
            <div class="col-lg-4">
              <img src="/static/img/.jpg " width="140" height="140" style = "border-radius: 50%;" xmlns="/static/img/warriors1.jpg " role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      
              <h2 class="fw-normal">Indra Sapkota  - Bowler </h2>
              <p>Indra Sapkota is a opening bolwer who has got the pace and accurate line and length.  
              </p>
              <p><a class="btn btn-secondary" href="#">Statics</a></p>
            </div>

          </div><!-- /.row -->

          

          <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy;AstraAnish@Himalaywan WArriors 2019-2022</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://docs.google.com/forms/d/1ENUaa351zJg74MyVXCwZfOIVj0sxoR2C46kO2MKVDpg/edit">Query Form</a></li>
              <li class="list-inline-item"><a href="https://docs.google.com/forms/d/1ENUaa351zJg74MyVXCwZfOIVj0sxoR2C46kO2MKVDpg/edit">Feedback Form </a></li>
              <li class="list-inline-item"><a href="#">Contact Us</a></li>
            </ul>
          </footer>
        </div>
        
        
            <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
              <script src="../checkout/form-validation.js"></script>
          </body>
        </html>
    
    
        
{% endblock body  %}